
{{ 'product.css' | asset_url | stylesheet_tag }}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}


<div class="conatiner">
<div class="row">

    <div class="col-md-6">
        <div class="section-title">
           {{ section.settings.title }}
        </div>
    </div>
        <div class="col-md-6 text-right">
            <div class="product-view-all">
                <a href="{{ section.settings.gotoall }}" class="">View all</a>
                <span><svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 12H19" stroke="#0A162B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12 5L19 12L12 19" stroke="#0A162B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></span>
            </div>
        </div>
   

</div>

<div class="row">       
     {% assign test = collections[section.settings.collection] %}

{% for product in test.products limit:section.settings.product-count %}
    <div class="col-md-3">
        <div class="singel-product-wrapper text-center">
            <div class="product-image-erapper">
                {{ product | image_url: width: 300  | img_tag }}

               
            </div>

            <a href="{{product.url}}">
                <h4 class="product-title">
{{product.title}}
                </h4>
            </a>
<div class="product-price">
    {% if on_sale %}
        <span class="amount2 ana">{{ product.price | money }} - </span>
        <span class="amount2 ana"><del>{{ product.compare_at_price | money }}</del></span>
        {% else %}
        <span class="amount2 ana">{{ product.price | money }} </span>
        {% endif %}
</div>
            <div class="pro_price_add">
                {% assign sold_out = true %}
                {% if product.available %}
                  {% assign sold_out = false %}
                {% endif %}
                {% if sold_out %}
                Sold out
                {% else%}
                <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">


                <select name="id" id="productSelect" class="product-single__variants d-none" >
                    {% for variant in product.variants %}
                    {% if variant.available %}


                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                    {% else %}
                        <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                    {% endif %}
                    {% endfor %}
                </select>
                <div class="cart-plus-minus product-counter d-none">
                  
                <input type="number" name="quantity"   value="1" min="1" >
                   
                </div>

                <button type="submit" name="add" id="AddToCart" class="btn d-block">
                    <span id="AddToCartText">Add to cart</span>
                  </button>
                </form>
                {% endif %}


              
    
            </div>
        </div>

    </div>
    {% endfor %}

</div>
</div>
{% schema %}
{
    "name": {
        "en": "Featured Product"
    },
    "settings": [
        {
             "type": "text",
             "id": "title",
             "label": "Product Section Title",
             "info": "Info"
        },
        {
          "type": "url",
          "id": "gotoall",
          "label": "All product link",
          "info": "gotoall"
        },
{
    "type": "collection",
    "id": "collection",
    "label": "Please Select your Collection"
},{
  "type": "range",
  "id": "product-count",
  "label": "Product Count",
  "min": 4,
  "max": 12,
  "step": 1,
  "default": 4
}
    ],
    "presets": [
    {
        "name": "Featured Proudct ",
        "category": "Product"
    }
  ]
}
{% endschema %}

{% stylesheet %}
    #AddToCart{
        width:100%;
    }
{% endstylesheet %}